extends layout

block content
	h1(class="headline") #{title}

	form(name= "create_aws_cluster", method= "post" class="horizontal")
		div.input
			span.label= "Cluster Name: "
			input(type= "text", name= "cluster_name" class="form_inp")

		div.input
			span.label= "Node Count: "
			input(type= "number", min=0, name= "node_count" class="form_inp")

		div.input
			span.label= "Instance Type: "
			input(type= "text", name= "Instance_type" class="form_inp")

		div.input
			span.label= "Region Name: "
			input(type= "text", default="us-west-2" name= "region_name" class="form_inp")

		div.input
			span.label= "Key Name: "
			input(type= "text", name="key_name" class="form_inp")

		div.input
			span.label= "SSH key path: "
			input(type="text", name="security_group" class="form_inp")

		div.actions
			input(type= "submit", value= "Create" class="general")

		<br/>
		h2(class="templates") Templates
		div.templates
			input(type= "submit", value= "small" class="template" formaction="/aws/launch/small")
		
			input(type= "submit", value= "medium" class="template" formaction="/aws/launch/medium")
		
			input(type= "submit", value= "large" class="template" formaction="/aws/launch/large")



